---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="ASESORIAS M Y F" description="">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <SectionContainer id="nosotros">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8">
        <ProfileCheck class="size-8" />
        Nosotros
      </h2>
      <AboutMe />
    </SectionContainer>
    <SectionContainer class="py-10" id="cerificados">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3">
        <Briefcase class="size-8" />
        Cerificados
      </h2>
      <p class="mb-6 text-lg">
        Nuestro equipo cuenta con certificaciones actualizadas en:
      </p>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
