<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty"
  >
    <p>La dirección de M & F, se compone de tres profesionales.</p>
    <div class="flex max-[600px]:flex-wrap items-center">
      <div>
        <p>
          <b>Marianela Méndez G. Socia Ejecutiva.</b>
          <br />
          Contadora de profesión, con más de 20 años de experiencia y trayectoria
          en el área contable tributaria y recursos humanos para empresas de gran
          tamaño. Hoy es quien realiza modificaciones impositivas, presentaciones
          en los entes fiscalizadores para cada uno de nuestros clientes.
        </p>
      </div>

      <div>
        <img
          src="/image1.png"
          alt="Marianela Méndez G."
          class="rounded-lg w-full min-w-[300px] max-w-[300px] object-contain"
        />
      </div>
    </div>

    <div class="flex max-[600px]:flex-wrap items-center">
      <div>
        <p>
          <b>Francisca Sánchez M. Socia Ejecutiva.</b>
          <br />
          Ingeniera Comercial de profesión, con más de 5 años en el mercado financiero,
          encargada de evaluaciones de riesgo, procesos de gestión interna de empresas.
          Hoy es quien realiza actualizaciones en los procesos internos de nuestros
          clientes, generando procesos y protocolos para el buen funcionamiento financiero
          de cada uno de ellos.
        </p>
      </div>

      <div>
        <img
          src="/image1.png"
          alt="Marianela Méndez G."
          class="rounded-lg w-full min-w-[300px] max-w-[300px] object-contain"
        />
      </div>
    </div>

    <div class="flex max-[600px]:flex-wrap items-center">
      <div>
        <p>
          <b>David Barrientos M. Socio Ejecutivo.</b><br /> Contador Auditor de profesión,
          cuenta con una trayectoria de más de 10 años en el ámbito contable financiero
          de empresas de gran tamaño en el mercado actual. Su función principal es
          evaluar y categorizar las necesidades de cada uno de nuestros clientes,
          desarrollar estrategias tributarias para dar cumplimiento con la normativas vigentes.
        </p>
      </div>

      <div>
        <img
          src="/image1.png"
          alt="Marianela Méndez G."
          class="rounded-lg w-full min-w-[300px] max-w-[300px] object-contain"
        />
      </div>
    </div>
  </div>
</article>
